$rifle-green: #454E41ff;
$dark-slate-gray: #324840ff;
$liver-dogs: #B06C1Fff;
$umber: #6C5D56ff;
$dark-liver: #5B5159ff;
$phthalo-green: #1A3027ff;
$phthalo-green2: rgba(26, 48, 39, 0.19);
$seal-brown: #5E2F0Cff;
$gold-crayola: #E1BE7Bff;
$liver-chestnut: #886855ff;
$saddle-brown: #9B4A10ff;